<% contentFor('body') %>
<h1>Template List</h1>
<p>List of templates will appear here.</p>
<!-- TODO: Implement template listing logic -->
<a href="/admin/templates/new" class="btn btn-primary">Create New Template</a>
